* {
    margin: 0;
    padding: 0;
}

.Heading {
    font-size: 8vh;
    text-align: center;
    margin-top: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 42vh;
    width: 50vh;
    border-radius: 18px;
}

.one {
    margin-left: 5vh;
}

.area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inpu {
    height: 4vh;
    width: 28vh;
    margin-bottom: 2vh;
    border-radius: 3px;
}

.user {
    display: flex;
    flex-direction: column;
}

.two {
    margin-right: 5vh;
}

.submit {
    font-size: 3vh;

}

.area2 {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
}

.four {
    margin-left: 5vh;
    opacity: 0.9;
}

.five {
    opacity: 0.9;
    margin-right: 5vh;
}

p{
    margin-bottom: 5px;
    font-size: 2.5vh;
}

.container{
    display: flex;
    justify-content: space-between;
}

.aii{
    margin-left: 0;
}